@import '../../global.scss';

.pagination {
    text-align: center;
    margin-top: 3.5rem;
    background-color: #474f5e;

    @include breakpoint-down(medium) {
        padding-top: 0rem;
    }

    ul {
        background-color: #39445a;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;


        display: inline-block;
        padding: 15px;
        width: auto;
        align-items: center;

        li {
            // color: white;
            cursor: pointer;
            padding: 5px 15px;
            border-radius: 20px;
            margin-right: .5rem;
            display: inline-block;
            transition: 0.5s ease-out;
        }

        li:hover {
            background-color: #101218;
            color: honeydew;
            transform: scale(.75);
        }

        li.active {
            color: white;
            background-color: rgb(42, 54, 165);
            cursor: pointer;
        }


        li.active:hover {
            background-color: rgb(33, 50, 197);

        }
    }

}