.loading {
    // textTransform: "capitalize",
    //     textAlign: "center",
    //     marginTop: "0rem 0rem ",
    text-transform: capitalize;
    margin-top: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
    }
}