.content {
    .container {

        .searching-items {

            text-align: center;

            input {
                cursor: pointer;
                width: 400px;
                padding: 5px 5px;
                background-color: transparent;
                transition: 0.5s ease-in-out;
                border: none;
                color: white;
                border-bottom: 1px solid rgb(0, 0, 0);
                border-left: 2px solid black;

                &:hover {}

                &:focus {
                    background-color: rgba(245, 222, 179, 0.062);

                    outline: none;
                }
            }

            span {
                margin-left: -20px;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: rgb(245, 245, 245);
                }
            }
        }

        .buttons {
            // border: 1px solid red;
            width: 410px;
            margin: 0 auto;


            ul {
                display: flex;
                list-style: none;
                justify-content: space-between;
                padding: 0;

                margin-top: 1.5rem;

                li.active {
                    cursor: pointer;
                    color: rgb(15, 15, 15);
                    background-color: rgba(255, 255, 255, 0.158);
                    border-radius: 10px;
                }

                li {
                    cursor: pointer;
                    color: white;
                    transition: .5s ease-out;
                    padding: 5px;

                    &:hover {
                        color: rgba(245, 222, 179, 0.473);
                    }
                }
            }
        }
    }
}